/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "utf-8";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  color: #FFFFFF;
  background-color: yellowgreen;
  padding: 0px 20px;
}

.left_right_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_right {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  flex-direction: column;
}

.grid-6 {
  
}

.footer {
  color: yellowgreen;
  background-color: black;
  text-align: center;
  margin-top: auto;
}


/* トップページ */

.new_link_title {
  color: #dc5041;
  text-align: center;
}

/* トップページ */

/* ユーザーページ */

.mypage {
  text-align: center;
}

.pr {

}

/* ユーザーページ */